%main
  %section#slide-1.homeSlide
    .bcg{"data-anchor-target" => "#slide-1", "data-center" => "background-position: 50% 0px;", "data-top-bottom" => "background-position: 50% -100px;"}
      .bannercontainer
        .row.bannertext
          .small-8.small-centered.columns
            %strong
              Candidate for Soil and Water Conservation District Group 3
  %section#slide-2
    .bcg{"data-0" => "background-color:rgb(1,27,59);", "data-anchor-target" => "#slide-2", "data-top" => "background-color:(0,0,0);"}
      .hsContainer
        .hsContent
          .row.mid#slide2content
            .large-4.columns
              #biopic
                = image_tag("WB.jpg", height: '500px', width: '400px')
            .large-7.columns
              .sectiontitle BIO
              %br
              .section2text
                &nbsp&nbsp&nbsp Will has deep family ties to Jacksonville and Northeast Florida. He was born in Fort Myers and grew up in Orange Park where he graduated from Ridgeview High School. His parents are Florida natives and graduates of the University of Florida. His mother is a proud graduate of Raines High school. His grandmother, Katie Lockett was a poll worker most of her adult life and instilled the importance of active participation in the political process in the entire family.
                %br
                %br
                &nbsp&nbsp&nbsp Will’s passion for public service began at a young age. He was student body president at Lakeside Junior High and continued as co-student body president at Ridgeview High School. He helped Clay County high school students register to vote and helped Clay County come in compliance with a voter registration law. He attended Harding University on a debate scholarship and graduated with a degree in Public Administration. At Harding he served as member of Bisons for Christ and organized students to clean up local Arkansas towns. He also helped Arkansas high school students register to vote during the 2008 Presidential Election. He served as US House of Representative Congressional Intern during the 109th Congress in Washington, DC.
                %br
                %br
                &nbsp&nbsp&nbsp Presently, Will is a member at Lakeside Church of Christ. He is an active member of Youth Leadership Jacksonville where he gains insight into the political and social fabric of Jacksonville. Will proudly serves as member of the Florida Army National Guard in 146thSignal Battalion as an IT specialist. He currently works as Information Technology Technician II for Bi-Lo Holdings, LLC.
                %br
                %br
                &nbsp&nbsp&nbsp Will wants to continue his passion of service to the people of Jacksonville by serving has the next Soil and Water Conservationist Group 3.
                %br
                %br
                .center
                  “Communities get better when those who care stand up, offer solutions, and work together to implement those solutions.”
  %section#slide-3.homeSlide
    .bcg{"data-anchor-target" => "#slide-3", "data-bottom-top" => "background-position: 0px 40%;", "data-center" => "background-position: 0px 50%;", "data-top-bottom" => "background-position: -40px 50%;"}
      .curtainContainer
        .curtain{"data-100-top" => "height: 1%; opacity: 0; top: -10%;", "data-anchor-target" => "#slide-3", "data-bottom-top" => "opacity: 0", "data-center" => "height: 100%; opacity: 0.5; top: 0%;"}
        .copy{"data--100-bottom" => "opacity: 0", "data--200-bottom" => "opacity: 1;", "data-100-top" => "opacity: 0;", "data-200-top" => "opacity: 1;", "data-anchor-target" => "#slide-3 .row", "data-bottom-top" => "opacity: 0"}
          .row
            .small-8.small-centered.columns
              .sectiontitle About the Soil and Water Board
              %br
              .sectiontext
                The governing body of a soil and water conservation district consists of five elected supervisors. Candidates are elected in a general election to a 4-year term. Supervisors receive no monetary compensation for their services, but may be reimbursed for travel expenses. A district may hire employees and agents as needed.

  %section#slide-4.homeSlide
    .bcg{"data-anchor-target" => "#slide-4", "data-bottom-top" => "background-position: 50% 100px;", "data-center" => "background-position: 50% 0px;", "data-top-bottom" => "background-position: 50% -100px;"}
      .curtainContainer
        .curtain{"data-106-top" => "height: 1%; opacity: 0; top: -10%;", "data-anchor-target" => "#slide-4", "data-bottom-top" => "opacity: 0", "data-center" => "height: 100%; opacity: 0.5; top: 0%;"}
        .copy{"data--100-bottom" => "opacity: 0", "data--280-bottom" => "opacity: 1;", "data-106-top" => "opacity: 0;", "data-280-top" => "opacity: 1;", "data-anchor-target" => "#slide-4 .copy", "data-bottom-top" => "opacity: 0"}
          .row
            .small-8.small-centered.columns
              .issuestitle Issues
              %br
              .sectiontext
                .issue Pollution 
                %strong -Companies
                %br
                %strong -Fertilizers from residential lawns
                %br
                %br
                .issue Water Rights
                %strong -Draining of the St. Johns
                %br
                %br
                .issue Water management
                %strong -Residential water use
                %br
                %strong -Dredging the St. Johns
  %section#slide-5
    .bcg{"data-0" => "background-color:rgb(1,27,59);", "data-anchor-target" => "#slide-5", "data-top" => "background-color:(0,0,0);"}
      .hsContainer
        .hsContent
          .row
            .small-8.small-centered.columns
              .issuestitle Solutions
              %br
              %br
              %br
              .section2text
                %strong I will do the following.
                %br
                %br
                %br
                1. Meet with local and state officials in limiting and stopping the draining of the St. Johns to protect our water. Get involved with any state that board can to make progress on this issue.
                %br
                %br
                2. Form advisor teams with land owners, home owners, and business and work to stop pollution of the water table.
                %br
                %br
                3. Get the word out to the district about how the individuals can better the community. Advertise river clean ups and educate home owners responsible watering and fertilizing of lawns.
  %section#slide-6.homeSlide
    .bcg
    .bcg.bcg3{"data-100-bottom" => "opacity: 1;", "data-300-bottom" => "opacity: 0;", "data-anchor-target" => "#slide-6"}
      .hsContainer
        .hsContent{"data-100-bottom" => "opacity: 0;", "data-anchor-target" => "#slide-6", "data-bottom" => "opacity: 1;"}
          %br
          = render 'contacts/form'
          %p
            %a{:name => "contact"}
  #fbsocial.fb-like-box{"data-colorscheme" => "dark", "data-header" => "true", "data-height" => "550", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-show-border" => "true", "data-show-faces" => "true", "data-stream" => "true", "data-width" => "300"}
  #fbsocialmobile.fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}
%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
:javascript
  window.jQuery || document.write('<\/script>')