.mindex
  .bannercontainer
    .row.mbannertext
      .large-12.large-centered.columns
        %strong
          Candidate for Soil and Water Conservation District Group 3
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<\/script>')