.mbio
  .row
    .large-4.columns
      #biopic
        = image_tag("WB.jpg", height: '500px', width: '400px')
    .large-7.columns
      .sectiontitle BIO
      %br
      .section2text
        &nbsp&nbsp&nbsp Will has deep family ties to Jacksonville and Northeast Florida. He was born in Fort Myers and grew up in Orange Park where he graduated from Ridgeview High School. His parents are Florida natives and graduates of the University of Florida. His mother is a proud graduate of Raines High school. His grandmother, Katie Lockett was a poll worker most of her adult life and instilled the importance of active participation in the political process in the entire family.
        %br
        %br
        &nbsp&nbsp&nbsp Will’s passion for public service began at a young age. He was student body president at Lakeside Junior High and continued as co-student body president at Ridgeview High School. He helped Clay County high school students register to vote and helped Clay County come in compliance with a voter registration law. He attended Harding University on a debate scholarship and graduated with a degree in Public Administration. At Harding he served as member of Bisons for Christ and organized students to clean up local Arkansas towns. He also helped Arkansas high school students register to vote during the 2008 Presidential Election. He served as US House of Representative Congressional Intern during the 109th Congress in Washington, DC.
        %br
        %br
        &nbsp&nbsp&nbsp Presently, Will is a member at Lakeside Church of Christ. He is an active member of Youth Leadership Jacksonville where he gains insight into the political and social fabric of Jacksonville. Will proudly serves as member of the Florida Army National Guard in 146thSignal Battalion as an IT specialist. He currently works as Information Technology Technician II for Bi-Lo Holdings, LLC.
        %br
        %br
        &nbsp&nbsp&nbsp Will wants to continue his passion of service to the people of Jacksonville by serving has the next Soil and Water Conservationist Group 3.
        %br
        %br
        .center
          “Communities get better when those who care stand up, offer solutions, and work together to implement those solutions.”
  .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}