%section#slide-6.homeSlide
    .bcg
    .bcg.bcg3{"data-100-bottom" => "opacity: 1;", "data-300-bottom" => "opacity: 0;", "data-anchor-target" => "#slide-6"}
      .hsContainer
        .hsContent{"data-100-bottom" => "opacity: 0;", "data-anchor-target" => "#slide-6", "data-bottom" => "opacity: 1;"}
          %br
          = render 'contacts/form'
          %p
            %a{:name => "contact"}
.fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}