%section#slide-6.homeSlide
  .bcg
    .bcg.bcg3
      .hsContainer
        .hsContent
          %br
          = render 'contacts/form'
          %p
            %a{:name => "contact"}
.fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}