.mindex
  .row.mbannertext
    %strong
      Candidate for Soil and Water Conservation District Group 3
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<\/script>')