%section#slide-1.homeSlide
    .bcg{"data-anchor-target" => "#slide-1", "data-center" => "background-position: 50% 0px;", "data-top-bottom" => "background-position: 50% -100px;"}
      .bannercontainer
        .row.bannertext
          %strong
            Candidate for Soil and Water Conservation District Group 3
.fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}