.mindex
  .bannercontainer
    .row.bannertext
      .small-8.small-centered.columns
        %strong
          Candidate for Soil and Water Conservation District Group 3
  .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}