.missues
  .row
    .small-8.small-centered.columns
      .issuestitle Issues
      %br
      .sectiontext
        .issue Pollution 
        %strong -Companies
        %br
        %strong -Fertilizers from residential lawns
        %br
        %br
        .issue Water Rights
        %strong -Draining of the St. Johns
        %br
        %br
        .issue Water management
        %strong -Residential water use
        %br
        %strong -Dredging the St. Johns
.fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}