.missues
  .bannercontainer
    .row
      .small-8.small-centered.columns
        .sectiontitle Issues
        %br
        .sectiontext
          .issue Pollution 
          %strong -Companies
          %br
          %strong -Fertilizers from residential lawns
          %br
          %br
          .issue Water Rights
          %strong -Draining of the St. Johns
          %br
          %br
          .issue Water management
          %strong -Residential water use
          %br
          %strong -Dredging the St. Johns
  #fbsocialmobile.fb-like{"data-colorscheme" => "dark", "data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<\/script>')