.msolutions
  .mbannercontainer
    .row
      .small-8.small-centered.columns
        .sectiontitle About the Soil and Water Board
        %br
        .sectiontext
          The governing body of a soil and water conservation district consists of five elected supervisors. Candidates are elected in a general election to a 4-year term. Supervisors receive no monetary compensation for their services, but may be reimbursed for travel expenses. A district may hire employees and agents as needed.
  #fbsocialmobile.fb-like{"data-colorscheme" => "dark", "data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<\/script>')