.msolutions
  .row
    .small-8.small-centered.columns
      .sectiontitle Solutions
      %br
      %br
      %br
      .sectiontext
        %strong I will do the following.
        %br
        %br
        %br
        1. Meet with local and state officials in limiting and stopping the draining of the St. Johns to protect our water. Get involved with any state that board can to make progress on this issue.
        %br
        %br
        2. Form advisory teams with land owners, home owners, and business and work to stop pollution of the water table.
        %br
        %br
        3. Get the word out to the district about how individuals can better the community. Advertise river clean ups and educate home owners responsible watering and fertilizing of lawns.
    .fb-like{"data-colorscheme" => "dark", "data-action" => "like", "data-href" => "https://www.facebook.com/pages/Will-Brown/706450756066703", "data-layout" => "standard", "data-share" => "true", "data-show-faces" => "true", "data-width" => "50"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<\/script>')