/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require main
 *= require foundation_and_overrides

 *= require_tree .
 */


.top-bar {
  z-index: 5000;
}

.left {
  margin-left: 220px;
}

.hidden { display: none; }

.sectiontitle {
  font-size: 50px;
  color: white;
}

.sectiontext {
  font-size: 20px;
  color: white;
}

#donate {  
z-index: 5000;
top: 0;  
right: 0;
position: fixed;
overflow: hidden;
}

#fbsocial {  
  z-index: 5000;
  bottom: 0;  
  right: 0;
}

#fbsocialmobile {
  display: none;
  z-index: 5000;
  bottom: 0;  
}

#donatemobile {
  display: none;
}

.center {
  text-align: center;
}

.row {
  width: 100%;
}

@media only screen and (max-width: 800px) {
    #donate {
      display: none;
    }
    #donatemobile {
      display: list-item;
    }
    #logo {
      position: fixed;
    }
    #fbsocial {
      display: none;
    }
    #fbsocialmobile {
      display: inline;
    }
}

#logo {
  z-index: 5000;
  float: left;
  top: 0;  
  left: 0;
  overflow: hidden;
  position: fixed;
}

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}



/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
  height: 100%;
  min-height: 100%;
}
body {
  
}
.no-js {
  padding-top: 106px;
}
h2 {
  margin-top: 0;
}
.loading {
  background: url(assets/loading.gif) no-repeat center center;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* Slide 1 */
#slide-1 .bcg {background-image:url(/assets/WB_small.jpg); width:100%;}

/* Slide 2 */
#slide-2 .bcg {background: none; background-color: #010101; height: 500px; text-align: center; width:100%;}

/* Slide 3 */
#slide-3 .bcg {background-image:url(/assets/JAX124.jpg);width:100%;}


/* Slide 4 */
.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 300%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}

#slide-4 .bcg {background-image:url(/assets/dt.jpg);width:100%;}

/* Slide 5 */
#slide-5 {position: relative;}
#slide-5 .bcg {background-image:url(/assets/downtown.jpg)}
#slide-5 .bcg2 {background-image:url(/assets/downtown.jpg); position: fixed; bottom: 0; opacity: 0; z-index: 1}
#slide-5 .bcg3 {background: none; background-color: #010101; z-index: 2;  position: fixed; bottom: 0; opacity: 0; z-index: 2}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  color: #ebebeb;
  padding: 0 8%;
  text-align: center
}
  .hsContent h2,
  .copy h2 {
    color: #ffffff;
    font-size: 45px;
    line-height: 48px;
    margin-bottom: 12px;
  }
  .hsContent p {
    width: 400px;
    margin: 0 auto;
    color: #b2b2b2;
  }
  .hsContent a {
    color: #b2b2b2;
    text-decoration: underline;
  }
  .bgBlack {
    background-color: rgba(0,0,0,0.75);
    padding: 3px 10px;
  }

